openapi: 3.1.0
info:
  title: Konnect API
  description: The Konnect platform API
  version: 2.0.0
  x-ref-schema-name: ZoneOverview
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
  - url: 'https://me.api.konghq.com'
  - url: 'https://in.api.konghq.com'
paths:
  '/meshes/{mesh}/meshaccesslogs/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#read
        terraform-datasource: null
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#update
        terraform-datasource: null
      operationId: putMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#delete
        terraform-datasource: null
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
  '/meshes/{mesh}/meshaccesslogs':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#create
        terraform-datasource: null
      operationId: postMeshAccessLog
      summary: Creates MeshAccessLog entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshAccessLog
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLogList#read
        terraform-datasource: null
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      tags:
        - MeshAccessLog
  '/meshes/{mesh}/meshcircuitbreakers/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#read
        terraform-datasource: null
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#update
        terraform-datasource: null
      operationId: putMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#delete
        terraform-datasource: null
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
  '/meshes/{mesh}/meshcircuitbreakers':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#create
        terraform-datasource: null
      operationId: postMeshCircuitBreaker
      summary: Creates MeshCircuitBreaker entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshCircuitBreaker
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreakerList#read
        terraform-datasource: null
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      tags:
        - MeshCircuitBreaker
  '/meshes/{mesh}/meshfaultinjections/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#read
        terraform-datasource: null
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#update
        terraform-datasource: null
      operationId: putMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#delete
        terraform-datasource: null
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
  '/meshes/{mesh}/meshfaultinjections':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#create
        terraform-datasource: null
      operationId: postMeshFaultInjection
      summary: Creates MeshFaultInjection entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshFaultInjection
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjectionList#read
        terraform-datasource: null
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      tags:
        - MeshFaultInjection
  '/meshes/{mesh}/meshhealthchecks/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#read
        terraform-datasource: null
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#update
        terraform-datasource: null
      operationId: putMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#delete
        terraform-datasource: null
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
  '/meshes/{mesh}/meshhealthchecks':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#create
        terraform-datasource: null
      operationId: postMeshHealthCheck
      summary: Creates MeshHealthCheck entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshHealthCheck
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheckList#read
        terraform-datasource: null
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      tags:
        - MeshHealthCheck
  '/meshes/{mesh}/meshhttproutes/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#read
        terraform-datasource: null
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#update
        terraform-datasource: null
      operationId: putMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#delete
        terraform-datasource: null
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
  '/meshes/{mesh}/meshhttproutes':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#create
        terraform-datasource: null
      operationId: postMeshHTTPRoute
      summary: Creates MeshHTTPRoute entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshHTTPRoute
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRouteList#read
        terraform-datasource: null
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      tags:
        - MeshHTTPRoute
  '/meshes/{mesh}/meshloadbalancingstrategies/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#read
        terraform-datasource: null
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#update
        terraform-datasource: null
      operationId: putMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#delete
        terraform-datasource: null
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
  '/meshes/{mesh}/meshloadbalancingstrategies':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#create
        terraform-datasource: null
      operationId: postMeshLoadBalancingStrategy
      summary: Creates MeshLoadBalancingStrategy entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshLoadBalancingStrategy
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategyList#read
        terraform-datasource: null
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      tags:
        - MeshLoadBalancingStrategy
  '/meshes/{mesh}/meshmetrics/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#read
        terraform-datasource: null
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#update
        terraform-datasource: null
      operationId: putMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#delete
        terraform-datasource: null
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
  '/meshes/{mesh}/meshmetrics':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#create
        terraform-datasource: null
      operationId: postMeshMetric
      summary: Creates MeshMetric entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshMetric
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetricList#read
        terraform-datasource: null
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      tags:
        - MeshMetric
  '/meshes/{mesh}/meshpassthroughs/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#read
        terraform-datasource: null
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#update
        terraform-datasource: null
      operationId: putMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#delete
        terraform-datasource: null
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
  '/meshes/{mesh}/meshpassthroughs':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#create
        terraform-datasource: null
      operationId: postMeshPassthrough
      summary: Creates MeshPassthrough entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshPassthrough
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthroughList#read
        terraform-datasource: null
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      tags:
        - MeshPassthrough
  '/meshes/{mesh}/meshproxypatches/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#read
        terraform-datasource: null
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#update
        terraform-datasource: null
      operationId: putMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#delete
        terraform-datasource: null
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
  '/meshes/{mesh}/meshproxypatches':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#create
        terraform-datasource: null
      operationId: postMeshProxyPatch
      summary: Creates MeshProxyPatch entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshProxyPatch
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatchList#read
        terraform-datasource: null
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      tags:
        - MeshProxyPatch
  '/meshes/{mesh}/meshratelimits/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#read
        terraform-datasource: null
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#update
        terraform-datasource: null
      operationId: putMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#delete
        terraform-datasource: null
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
  '/meshes/{mesh}/meshratelimits':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#create
        terraform-datasource: null
      operationId: postMeshRateLimit
      summary: Creates MeshRateLimit entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshRateLimit
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimitList#read
        terraform-datasource: null
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      tags:
        - MeshRateLimit
  '/meshes/{mesh}/meshretries/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#read
        terraform-datasource: null
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#update
        terraform-datasource: null
      operationId: putMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#delete
        terraform-datasource: null
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
  '/meshes/{mesh}/meshretries':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#create
        terraform-datasource: null
      operationId: postMeshRetry
      summary: Creates MeshRetry entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshRetry
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetryList#read
        terraform-datasource: null
      operationId: getMeshRetryList
      summary: Returns a list of MeshRetry in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryList'
      tags:
        - MeshRetry
  '/meshes/{mesh}/meshtcproutes/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#read
        terraform-datasource: null
      operationId: getMeshTCPRoute
      summary: Returns MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#update
        terraform-datasource: null
      operationId: putMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#delete
        terraform-datasource: null
      operationId: deleteMeshTCPRoute
      summary: Deletes MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
  '/meshes/{mesh}/meshtcproutes':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#create
        terraform-datasource: null
      operationId: postMeshTCPRoute
      summary: Creates MeshTCPRoute entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshTCPRoute
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRouteList#read
        terraform-datasource: null
      operationId: getMeshTCPRouteList
      summary: Returns a list of MeshTCPRoute in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteList'
      tags:
        - MeshTCPRoute
  '/meshes/{mesh}/meshtimeouts/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#read
        terraform-datasource: null
      operationId: getMeshTimeout
      summary: Returns MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#update
        terraform-datasource: null
      operationId: putMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#delete
        terraform-datasource: null
      operationId: deleteMeshTimeout
      summary: Deletes MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
  '/meshes/{mesh}/meshtimeouts':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#create
        terraform-datasource: null
      operationId: postMeshTimeout
      summary: Creates MeshTimeout entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshTimeout
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeoutList#read
        terraform-datasource: null
      operationId: getMeshTimeoutList
      summary: Returns a list of MeshTimeout in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutList'
      tags:
        - MeshTimeout
  '/meshes/{mesh}/meshtlses/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLS#read
        terraform-datasource: null
      operationId: getMeshTLS
      summary: Returns MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLS#update
        terraform-datasource: null
      operationId: putMeshTLS
      summary: Creates or Updates MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTLSCreateOrUpdateSuccessResponse'
      tags:
        - MeshTLS
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLS#delete
        terraform-datasource: null
      operationId: deleteMeshTLS
      summary: Deletes MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
  '/meshes/{mesh}/meshtlses':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLS#create
        terraform-datasource: null
      operationId: postMeshTLS
      summary: Creates MeshTLS entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshTLSCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshTLS
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLSList#read
        terraform-datasource: null
      operationId: getMeshTLSList
      summary: Returns a list of MeshTLS in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSList'
      tags:
        - MeshTLS
  '/meshes/{mesh}/meshtraces/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrace#read
        terraform-datasource: null
      operationId: getMeshTrace
      summary: Returns MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrace#update
        terraform-datasource: null
      operationId: putMeshTrace
      summary: Creates or Updates MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTraceCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrace
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrace#delete
        terraform-datasource: null
      operationId: deleteMeshTrace
      summary: Deletes MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
  '/meshes/{mesh}/meshtraces':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrace#create
        terraform-datasource: null
      operationId: postMeshTrace
      summary: Creates MeshTrace entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshTraceCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshTrace
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTraceList#read
        terraform-datasource: null
      operationId: getMeshTraceList
      summary: Returns a list of MeshTrace in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceList'
      tags:
        - MeshTrace
  '/meshes/{mesh}/meshtrafficpermissions/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermission#read
        terraform-datasource: null
      operationId: getMeshTrafficPermission
      summary: Returns MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermission#update
        terraform-datasource: null
      operationId: putMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrafficPermission
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermission#delete
        terraform-datasource: null
      operationId: deleteMeshTrafficPermission
      summary: Deletes MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
  '/meshes/{mesh}/meshtrafficpermissions':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermission#create
        terraform-datasource: null
      operationId: postMeshTrafficPermission
      summary: Creates MeshTrafficPermission entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent mesh not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - MeshTrafficPermission
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermissionList#read
        terraform-datasource: null
      operationId: getMeshTrafficPermissionList
      summary: Returns a list of MeshTrafficPermission in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionList'
      tags:
        - MeshTrafficPermission
  '/meshes/{mesh}/dataplane-insights':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshDataplaneInsightList#read
        terraform-datasource: null
      operationId: getDataplaneInsightList
      summary: Returns a list of DataplaneInsight in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DataplaneInsightList'
      tags:
        - DataplaneInsight
  '/meshes/{mesh}/dataplane-insights/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshDataplaneInsight#read
        terraform-datasource: null
      operationId: getDataplaneInsight
      summary: Returns DataplaneInsight entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the DataplaneInsight
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DataplaneInsightItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - DataplaneInsight
  '/globalsecrets/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecret#read
        terraform-datasource: null
      operationId: getGlobalSecret
      summary: Returns GlobalSecret entity
      parameters:
        - name: name
          in: path
          description: name of the GlobalSecret
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - GlobalSecret
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecret#update
        terraform-datasource: null
      operationId: putGlobalSecret
      summary: Creates or Updates GlobalSecret entity
      parameters:
        - name: name
          in: path
          description: name of the GlobalSecret
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalSecretItem'
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/GlobalSecretCreateOrUpdateSuccessResponse'
      tags:
        - GlobalSecret
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecret#delete
        terraform-datasource: null
      operationId: deleteGlobalSecret
      summary: Deletes GlobalSecret entity
      parameters:
        - name: name
          in: path
          description: name of the GlobalSecret
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - GlobalSecret
  /globalsecrets:
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecret#create
        terraform-datasource: null
      operationId: postGlobalSecret
      summary: Creates GlobalSecret entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalSecretItem'
      responses:
        '201':
          $ref: '#/components/responses/GlobalSecretCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - GlobalSecret
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecretList#read
        terraform-datasource: null
      operationId: getGlobalSecretList
      summary: Returns a list of GlobalSecret entities.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
            example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretList'
      tags:
        - GlobalSecret
  '/global-secrets/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecretAlias#read
        terraform-datasource: null
      operationId: getGlobalSecretAlias
      summary: Returns GlobalSecret entity
      parameters:
        - name: name
          in: path
          description: name of the GlobalSecret
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - GlobalSecret
    put:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecretAlias#update
        terraform-datasource: null
      operationId: putGlobalSecretAlias
      summary: Creates or Updates GlobalSecret entity
      parameters:
        - name: name
          in: path
          description: name of the GlobalSecret
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalSecretItem'
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/GlobalSecretCreateOrUpdateSuccessResponse'
      tags:
        - GlobalSecret
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecretAlias#delete
        terraform-datasource: null
      operationId: deleteGlobalSecretAlias
      summary: Deletes GlobalSecret entity
      parameters:
        - name: name
          in: path
          description: name of the GlobalSecret
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - GlobalSecret
  /global-secrets:
    post:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecretAlias#create
        terraform-datasource: null
      operationId: postGlobalSecretAlias
      summary: Creates GlobalSecret entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalSecretItem'
      responses:
        '201':
          $ref: '#/components/responses/GlobalSecretCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - GlobalSecret
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGlobalSecretListAlias#read
        terraform-datasource: null
      operationId: getGlobalSecretListAlias
      summary: Returns a list of GlobalSecret entities.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
            example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
      responses:
        '200':
          $ref: '#/components/responses/GlobalSecretList'
      tags:
        - GlobalSecret
  /meshes:
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshList#read
        terraform-datasource: null
      operationId: getMeshList
      summary: Returns a list of Mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
      responses:
        '200':
          $ref: '#/components/responses/MeshList'
      tags:
        - Mesh
    post:
      x-speakeasy-entity-operation:
        terraform-resource: Mesh#create
        terraform-datasource: null
      operationId: postMesh
      summary: Creates Mesh entity
      description: Creates a resource using the name in the body. An existing resource is never modified. Requires Kuma 3.0 or later.
      requestBody:
        description: Resource to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshItem'
      responses:
        '201':
          $ref: '#/components/responses/MeshCreateOrUpdateSuccessResponse'
        '400':
          description: Invalid resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: A resource with this identity already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Mesh
  '/meshes/{name}':
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: Mesh#delete
        terraform-datasource: null
      operationId: deleteMesh
      summary: Deletes Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Mesh
    get:
      x-speakeasy-entity-operation:
        terraform-resource: Mesh#read
        terraform-datasource: null
      operationId: getMesh
      summary: Returns Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Mesh
    put:
      x-speakeasy-entity-operation:
        terraform-resource: Mesh#update
        terraform-datasource: null
      operationId: putMesh
      summary: Creates or Updates Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
[...]
